@media (max-width: 750px) {
  .mainBox {
    display: block;
  }
  .image {
    width: 100%;
    height: 300px;
  }
  
  .title {
    margin: 50px 0px 0px 20px;
  }
  
  .description {
    margin: 50px 0px 0px 20px;
  }
  .toggle-switch {
    margin-top: -50px;
  }
  label {
    margin-top: 250px;
  }
}
